* {
    text-align: center;
}

html, body, head, form {
    padding: 0;
    margin: 0;
}

#nav {
    padding-top: 20px;
    border-bottom: 5px solid #777777;
    background-color: #bbbbbb;
    padding-bottom: 15px
}

#title {
    margin: 0 0 15px;

    padding-bottom: 15px;
    padding-top: 15px;

    min-width: 80px;

    display: inline-block;
    border: 5px solid #643d41;
    background-color: #e02512;
    color: #690201;
    border-radius: 50%;
}

.nav-button {
    width: 100%;
    height: 50px;
}

#page-title {
    margin-top: 30px;
}